/*scene*/
.scene{
	width: 100px;
	height: 100px;
	margin: 200px auto;
	position: relative;
	-webkit-perspective: 2000px;
}
/*end scene*/

/*cube*/
.cube{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
}

.cube div{
	width: 98px;
	height: 98px;
	position: absolute;
	border: 1px solid grey;
	text-align: center;
	line-height: 98px;
	opacity: 0.7;
	/*-webkit-backface-visibility:hidden;*//*как вариант*/
}

/*caption*/
.cube p{
	margin: 0;
	font-size: 5em;
}

/*sides*/
.front{
	-webkit-transform: rotateY(0deg) translateZ(50px);
	background-color: lawngreen;
}
.back{
	-webkit-transform: rotateX(180deg)  translateZ(50px);
	background-color: yellow;
}
.right{
	-webkit-transform: rotateY(90deg)  translateZ(50px);
	background-color: royalblue;
}
.left{
	-webkit-transform: rotateY(-90deg)  translateZ(50px);
	background-color: deeppink;
}
.top{
	-webkit-transform: rotateX(90deg)  translateZ(50px);
	background-color: red;
}
.bottom{
	-webkit-transform: rotateX(-90deg)  translateZ(50px);
	background-color: cyan;
}
/*end sides*/
/*end cube*/


/*animation*/
#first-cube{
	-webkit-animation: rotationX 3s infinite linear;
}

#second-cube{
	-webkit-animation: rotationY 5s infinite linear;
}

#third-cube{
	-webkit-animation: rotationZ 2s infinite linear;
}

@-webkit-keyframes rotationX {
	from {
		-webkit-transform: rotate3d(1,0,0,0deg) translateY(400px) rotate3d(1,1,0,0deg);
	}
	to {
		-webkit-transform: rotate3d(1,0,0,360deg) translateY(400px) rotate3d(1,1,0,360deg);
	}
}

@-webkit-keyframes rotationY {
	from {
		-webkit-transform: rotate3d(0,1,0,0deg) translateZ(600px) rotate3d(0,1,0,-0deg);
	}
	to {
		-webkit-transform: rotate3d(0,1,0,360deg) translateZ(600px) rotate3d(0,1,0,-360deg);
	}
}

@-webkit-keyframes rotationZ {
	from {
		-webkit-transform: rotate3d(0,0,1,-0deg) translateY(300px) rotate3d(0,0,1,0deg) rotate3d(1,0,1,-12deg) rotate3d(0,1,0,0deg);
	}
	to {
		-webkit-transform: rotate3d(0,0,1,-360deg) translateY(300px) rotate3d(0,0,1,360deg) rotate3d(1,0,1,-12deg)  rotate3d(0,1,0,360deg);
	}
}
/*end animation*/